<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Profil!</title>
</head>
<body>
<div>
    <h1>{{message}}</h1>
    <h3>Bienvenue à {{tartempion}}</h3>
    <table>
        <thead>
            <th>Id</th>
            <th>Session</th>
            <th>Path</th>
        </thead>
        <tbody>
            {{#trackers}}
            <tr>
                <td>{{id}}</td>
                <td>{{session}}</td>
                <td>{{path}}</td>
            </tr>
            {{/trackers}}
        </tbody>
    </table>
</div>
</body>
</html>